// - Font size: 14px
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Red Hat Text", sans-serif;

  @media (min-width: $mobile-md) {
    font-size: 12px;
  }

  @media (min-width: $mobile-md) {
    font-size: 14px;
  }
}

body {
  width: 100%;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
}
