// - Font size: 14px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Red Hat Text", sans-serif;
}

body {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
}
