$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

$white: hsl(0, 0%, 100%);
$dark-desaturated-blue: hsl(236, 21%, 26%);
$very-dark-blue: hsl(235, 16%, 14%);
$mostly-black-blue: hsl(234, 17%, 12%);

$square-size-mobile: 66px;
$dot-size-mobile: 8px;

// breakpoints
$mobile-xs: 300px;
$mobile-md: 768px;
$mobile-lg: 1024px;

$desktop-sm: 1200px;
$desktop-lg: 1440px;
$desktop-xl: 1600px;
