.title {
  padding: 40% 10% 5%;
  text-align: center;
  color: $white;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 6px;

  @media (orientation: landscape) {
    padding-top: 10%;
  }
}
