.counterElement {
  &__card {
    height: $square-size-mobile;
    width: $square-size-mobile;

    @media (max-width: $mobile-xs) {
      height: $square-size-mobile-xs;
      width: $square-size-mobile-xs;
    }

    @media (min-width: $mobile-md) {
      height: $square-size-mobile-lg;
      width: $square-size-mobile-lg;
    }

    @media (min-width: $desktop-sm) {
      height: $square-size-desktop;
      width: $square-size-desktop;
    }
  }

  &__name {
    display: block;
    width: 100%;
    padding-top: 15px;
    text-transform: uppercase;
    text-align: center;
    color: $grayish-blue;
    font-size: 0.8rem;
    letter-spacing: 2px;

    @media (min-width: $desktop-sm) {
      font-size: 1rem;
    }
  }
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 5px 0 0 $mostly-black-blue;

  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $soft-red;
    font-size: 3.5rem;

    @media (min-width: $mobile-md) {
      font-size: 3.8rem;
    }

    @media (min-width: $desktop-sm) {
      font-size: 5rem;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
  }
}

.bg {
  &__rect {
    height: 50%;
    &--upper {
      background-color: darken($dark-desaturated-blue, 3%);
    }
    &--lower {
      background-color: $dark-desaturated-blue;
    }
  }

  &__dot {
    position: absolute;
    top: 50%;
    height: $dot-size-mobile;
    width: $dot-size-mobile;
    border-radius: 50%;
    background-color: $mostly-black-blue;

    @media (min-width: $mobile-md) {
      height: $dot-size-mobile-lg;
      width: $dot-size-mobile-lg;
    }

    @media (min-width: $desktop-sm) {
      height: $dot-size-desktop;
      width: $dot-size-desktop;
    }

    &--left {
      left: 0%;
      transform: translate(-50%, -50%);
    }

    &--right {
      right: 0%;
      transform: translate(50%, -50%);
    }
  }
}
