@import "normalize";
@import "variables";
@import "App";
@import "Footer";
@import "Counter";
@import "CounterElement";

.main {
  position: relative;
  background-image: url(../images/pattern-hills.svg),
    url(../images/bg-stars.svg);
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-position: 85% bottom, 0 0;
  background-color: $very-dark-blue;

  @media (orientation: landscape) {
    background-size: contain;
    background-position: center bottom, 0 0;
  }
}
